<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>edu.theschool.columbia.overnightJSS</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/caffeinate</string>
		<string>-is</string>
		<string>/etc/hooks/overnightJSS.sh</string>
		<string>pmset repeat wakeorpoweron MTWRF 02:00:00</string>
	</array>
	
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
